[submodule "AIDA-Interchange-Format"]
	path = AIDA-Interchange-Format
	url = https://github.com/NextCenturyCorporation/AIDA-Interchange-Format.git
[submodule "gaia-clustering"]
	path = gaia-clustering
	url = https://github.com/usc-isi-i2/gaia-clustering.git
